EO_n8nWorkflow_Json/eo-n8n-workflow-jp.json
{
  "name": "eo-n8n-workflow-jp",
  "nodes": [
    {
      "parameters": {
        "content": "# 設定① 010 Step.0 Starter by XML sitemap \n\nXMLサイトマップURL記載\nStart by XML sitemapノードをダブルクリック。右上の鉛筆マークをクリックして、XMLサイトマップURLを以下形式のJSONで書き換えてください。このリリースでは、XMLサイトマップ1個しか対応していません。\n```\n[\n    {\n        \"Website\" : \"https://sample.com/sitemap.xml\"\n    }\n]\n```",
        "height": 336,
        "width": 486,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        1408
      ],
      "typeVersion": 1,
      "id": "01b785ab-a4e2-4d34-a3a9-a7dd0a25e833",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "第2階層XMLサイト\nマップURLたちを取得",
        "height": 96,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        1696
      ],
      "typeVersion": 1,
      "id": "58d0e100-fe49-41ac-bd63-6ed7a5421d1f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "第2階層XMLサイトマップのlocのURL達に直http(s)リクエストを行い、\nメインドキュメントURLの一覧をXML形式で取得。\n※アセットのサブリンクURL達の取得の前段階。",
        "height": 80,
        "width": 502
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        1392
      ],
      "typeVersion": 1,
      "id": "6c3c9adf-aedf-4f54-b95a-c05fd95428c6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "メインドキュメントURLの一覧について、不要データ除去、locだけ取り出し。\nメインドキュメントhtmlのURL達だけのjsonを作成",
        "height": 112,
        "width": 294
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        1360
      ],
      "typeVersion": 1,
      "id": "29b46955-bd94-4f79-9682-cbf1c7d07d7a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# 125-1 HTTP Req to MainDoc URL locs through Playwright\nメインドキュメントURLs全てにPlaywrightコンテナのヘッドレスブラウザでレンダリング、javascriptによる後発生成DOM確定後のDOMデータを取得。\n※PlaywrightコンテナのポートがローカルDockerで競合しているとエラーになります。",
        "height": 240,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        1968
      ],
      "typeVersion": 1,
      "id": "4a0ccb9c-0d7d-4ec2-bfc6-43c428ed583c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# 設定④ 140 Resource URLs Discovery from DOM\n\n1. 準備：item から MainDocURL の「生DOM」取得\n2. 全サブリンク取得\n    1. 戦略A：無差別抽出（絶対URLスキャン）\n    2. 戦略B：構造解析（相対パススキャンからURL復元）\n3. フィルタリング：ドメインホワイトリストとURLスキーム\n    1. 基本的にドメインホワイトリストだけ設定する\n4. 重複排除と親子関係構築\n    1. 親 MainDocURL\n    2. 子 ResourceURLs（MainDocのDOMから抽出したサブリンク）\n\n\n140ノードにより、後続ノードは**「ゴミがなく、ドメインも正しく、重複もない、純粋なリクエスト候補リスト」**を受け取ることができます。\n\n143 Step.2 Before Filtering Starter Dummyノード を追加してある",
        "height": 480,
        "width": 502,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        2032
      ],
      "typeVersion": 1,
      "id": "aabf416c-a392-4739-a6e1-a49c777c7813",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "メインドキュメントとリソースの区分を無くし、完全にユニークなURLリストのjsonを作る",
        "height": 128,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        2384
      ],
      "typeVersion": 1,
      "id": "dcc8d655-95b9-47cc-b64a-67a403202a72",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "URLから\n？と# を含む　バージョンやhtmlアンカーなどのクエリパラメータ除去",
        "height": 128,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        2384
      ],
      "typeVersion": 1,
      "id": "74cad8a8-3746-4690-af32-f12ab8d565be",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "RequestEngineがWarmupリクエストする時に必要なtokenの作成（TargetUrl毎）",
        "height": 176,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2224,
        2336
      ],
      "typeVersion": 1,
      "id": "84196c2a-84af-4c13-a943-5773865682db",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "# 設定⑩ 280系RequestEngine設定\n \nGithubリポジトリ\n\nhttps://github.com/Masamasamasashito/EdgeOptimizer/?tab=readme-ov-file#-%E3%83%89%E3%82%AD%E3%83%A5%E3%83%A1%E3%83%B3%E3%83%88%E7%B4%A2%E5%BC%95\nを参照ください。\n\n180 で選択したリクエストエンジンのクラウド種別とエリアに基づいて 225 や 280は増減設定する必要があります。\n\n## クラウド別基盤認証まとめ\n- AWS Lambda\n    - IAMユーザーのアクセスキーによる認証\n- Azure Functions\n    - 関数キーによる x-functions-key ヘッダーの認証\n- Google CloudRun(第3世代)\n    - Oauth2 BearerトークンによるヘッダーのAuthorizationによる認証\n- Clodfare Worker\n    - Cloudflare Access(Zero Trust) サービストークンによる Header Auth(Custom Auth)認証",
        "height": 592,
        "width": 1184,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2016,
        3616
      ],
      "typeVersion": 1,
      "id": "b2a06cdf-2b73-4cb5-892f-fbe09a95bb8a",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "# 設定⑥ 175 Assign UserAgents\n\nWAFを考慮すると、以下の1と2で同じユーザーエージェントを使う方が望ましい（弾かれにくい）\n\n※UA無しを想定してないため、必ず1つ以上UAを設定すること。\n\nURLタイプ別にUser-Agentを付与\n1. asset → アセット用UAリスト\n2. main_document → メイン用UAリスト\n3. exception → 破棄（出力しない）",
        "height": 544,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2384,
        1968
      ],
      "typeVersion": 1,
      "id": "561f78df-f07a-49be-b1eb-15f42999bee4",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "jsonに\nhttpリクエスト\nナンバー追加",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2992,
        2448
      ],
      "typeVersion": 1,
      "id": "e3317d6a-6c76-48b0-8add-e55d6caec396",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "json最上位に\ndata階層追加",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3344,
        2448
      ],
      "typeVersion": 1,
      "id": "6d476d8c-1ac1-407b-9475-285055a2da93",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "アセット含む\nURL一覧に対し\nループ開始",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        3136
      ],
      "typeVersion": 1,
      "id": "d250d63f-7bbd-4600-a286-e9d9dd9f224f",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "# 設定⑤ 155 Excluded Patterns Filter\n\n/wp-admin/ や contact、\nNitroPackのBlobURLなと「部分一致」もしくは「完全一致」による除外フィルタ",
        "height": 368,
        "width": 230,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        2144
      ],
      "typeVersion": 1,
      "id": "6f2429a0-65b6-45bf-8d8d-70f961f7546d",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "jsonからloc(Location)だけを取り出し、urlだけにする\n\n[sitemaps.org](https://www.sitemaps.org/)準拠のXMLサイトマップ（最大 2 階層）を前提としています。",
        "height": 128,
        "width": 262
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        1360
      ],
      "typeVersion": 1,
      "id": "75458954-cef2-4a4d-a75c-49044d3c89c6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# 設定⑧ 225 RequestEngine Switcher\n\n本n8nワークフローのインテリジェンス層です。URLの重要度、クラウドのコスト、WAFの回避戦略のすべてをここで統合管理として活かせます。「どのリクエストを」「どこから」「どう送るか」という最終判断をSwitcherに集約できます。各クラウド（AWS, Azure, GCP, Cloudflare）の特性やリージョンに合わせて、URLやUAをリアルタイムに振り分けられます。\n\n- RequestEngine無しで使う場合、280Direct Request だけ利用してください\n\n1. 180 RequestEngine Settingsで　cloud_type_area　（クラウド種別とエリア）、accept_language（言語）　を記載\n2. 225でParametersのRouting Rulesにて180のtype_areaを必要に応じて追記する。これにより、クラウド別、エリア別の280系RequestEngineにWarmupリクエストの指示出しでGEO分散となる。\n3. 280系ノードを増減させることで、RequestEngineをクラウド種類別、エリア別で自由に増減可（デフォルトはAWS Lambda ap-northeast-1、Azure Functions Japan East、Cloudflare global、GCP CloudRun asia-northeast1）。\n\n# 【応用】高度フィルタリング例\n\n- 特定のパス（ディレクトリ）の除外・優先送信\n    - $json.data.targetUrl.includes('/lp/') の場合だけ特定のハイスペックなRequest Engine（例：GCP CloudRun）に飛ばす。\n- アセット種別による振り分け\n    - $json.data.urltype == 'asset' かつ拡張子が .js のものだけ、JavaScript処理に強いエンジンに飛ばす、といった最適化。\n- 特定のUser-Agentのみ特定クラウドへ\n    - iOS端末のUA（ios_safari）からのリクエスト時のみ、AppleのCDN Edgeに近いと言われるクラウド（例：Azure）からリクエストを出す、といったUX測定。\n- 時間帯やランダムサンプリングによる間引き\n    - $json.data.httpRequestNumber % 2 == 0（偶数番号のみ実行）などとして、全リクエストの50%だけを検証用に実行する。\n- WAFの特定ルール回避用（特定UAのブロック回避）\n    - 特定のUAが特定のクラウドIP帯域でブロックされていることがわかった場合、その組み合わせだけを「280Direct Request（n8n直）」に逃がす。\n- URL種別×エリア最適化：main_document は全エリアから、asset はコストの安い特定のエリア（例：Cloudflare）からのみリクエストする、といったコスト最適化。\n- サンプリング実行：httpRequestNumber を用いた算術演算（余り計算など）により、膨大なリクエストの「一部（例：1/10）」だけを抜き出してマルチクラウド検証にかける。\n- ターゲット側のWAF特性に合わせて、特定の組み合わせを「間引く」あるいは「Direct（プロキシなし）に逃がす」といった防衛的な運用が可能です。\n\n## ⚠️ 重要：応用適用時`httpRequestNumber`歯抜け：\n\n- 番号の不連続性：Switchノードでリクエストを間引く場合、最終的な実行結果（RequestResults.csv）において httpRequestNumber は**歯抜け（連番にならない）**状態になります。\n- 仕様：これは185ノードで全組み合わせに対して事前採番を行っているためであり、欠損ではなく「フィルタリングされた結果」です。\n- 注意：urltype: asset は、175ノードで既にUAが1つに絞られている場合、フィルタリング条件を厳しくしすぎてリクエストが0になる可能性",
        "height": 1264,
        "width": 720,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        3456
      ],
      "typeVersion": 1,
      "id": "b2d2e4ed-ed2c-4bb5-b8a2-0cca73b4e5ff",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "1000〜3999ms",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        1584
      ],
      "typeVersion": 1,
      "id": "c9a66481-2668-4a2e-a6b3-f5a66799e7f1",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "CACHE MISS / CACHE HIT 一覧化。csv向けにjsonネストをフラット化。",
        "height": 112,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2336,
        3072
      ],
      "typeVersion": 1,
      "id": "da4053eb-b7e4-4960-b7e2-c67bba4f41bb",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "アセット／メインドキュメント／例外分類\n\n1. アセットの拡張子(.css/.js/.jpg/.jpeg/.gif/.png/.webp/.avif/各種フォント)がurl末尾に有る場合\n`urltype: asset`\n2. アセット拡張子が URL 末尾に無い、もしくは /(スラッシュ) もしくは .html もしくは .htm である場合\n`urltype: main_document`\n3. アセットの拡張子がurl末尾に無く2でもない例外である場合\n`urltype: exception`",
        "height": 336,
        "width": 246
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        2176
      ],
      "typeVersion": 1,
      "id": "904d1d88-5aa4-4df6-a639-47fd7b3fb48d",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "`urltype: exception`\nがtrueの場合（メインドキュメントでもなく、アセットでもなく、Warmupターゲットではない）、一覧化可能。\n\n**通常はfalseでワークフロー続行**",
        "height": 256,
        "width": 182
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        2256
      ],
      "typeVersion": 1,
      "id": "c9f03b49-a450-4e1d-a5d8-0756457e7b14",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "# Step.1\n\nAsset Target\nUrLs Creator\n&\nMainDocument and Asset Merge\n&\nFiltering\n&\nVariant\n&\nCloud Area\n\nHigh‑Precision \nTargetURLs \nCreator\n\n100から199ノード",
        "height": 1168,
        "width": 150,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        1904
      ],
      "typeVersion": 1,
      "id": "4f2a8782-068f-4600-8082-daf58b426655",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "content": "# Step.2\n\nCache Warmup\n\n200から399ノード\n\n※Step.3だけノードナンバーのレンジ広い",
        "height": 1824,
        "width": 150,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        3136
      ],
      "typeVersion": 1,
      "id": "6096c64e-12b2-4f43-93d7-348ba390b066",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "# ▶ Edge Optimizer 利用ガイド\n  \nCreated by にしラボ [https://4649-24.com](https://4649-24.com)\n  \n## 1. self-hosted n8n 作成\n- https://github.com/Masamasamasashito/EdgeOptimizer/?tab=readme-ov-file#-%E3%83%89%E3%82%AD%E3%83%A5%E3%83%A1%E3%83%B3%E3%83%88%E7%B4%A2%E5%BC%95　の各種.mdファイルを参照ください。\n    - n8n構築 と リクエストエンジン構築、構築後の双方の設定が必要です。\n- `EO_Infra_Docker`ディレクトリで。\n- env.exampleを複製し、`.env` を作成。各種の値を設定。\n-  `docker compose up -d`\n- n8n work flow jsonをn8nにインポート\n- ピンクスティッキーノートにしたがって各種設定\n  \n## 2. self-hosted n8n の signup\n- n8n利用するためのユーザー作成時、n8nのlicense keyによるアクティベーションを行ってください。無料で出来ます。\n\n## 3. n8n workflow JSON templateをインポート\n- Overview > Create workflow > (右上の3点リーダー)Import from file > `EO_n8nWorkflow_Json/eo-n8n-workflow-jp.json` をインポート\n  \n## 4. すべての設定完了後\n画面中央下部のオレンジボタン「Execute workflow」を押下してWarmupを開始してください\n\n- Step.0 Target URLs Createrを飛ばしたい場合\n    - 075→115を切断\n    - 110を設定\n    - 110→115を接続\n    - 110を単独実行\n    - 「420 JSON to RequestResultsCSV」ノードの「Execute Step」を実行\n\n※「Step.0 Target URLs Createrを飛ばし」は、画面中央下部のオレンジボタン「Execute workflow」を押下では出来ない点にご注意ください。\n\n## 5. Warmup完了後、「420」ノードでdownloadを押下し、RequestResults_YYYYMMDD.csvのファイルをダウンロードしてください\nおすすめは、グーグルドライブにRequestResultsを蓄積、Looker Studio 分析です。\n\n## Warning\n1. `.env`の非公開情報が漏洩しないように注意\n   - `.env`は公開リポジトリに push しないでください\n   - `docker-compose.yml`、n8nノードやn8n Sticky Noteにシークレットやパスワードを直で書く必要がないよう設計されています。\n   - .gitignore には .env などシークレットやパスワードの漏洩を防ぐファイル等が記載されています。\n2. docker image を latest や alpine としています\n   - 必要に応じてバージョンを固定してください\n\n## IMPORTANT\nこの n8n workflow JSON template は、エッジキャッシュ最適化と UX 改善を目的としており、WAF やレートリミットなどのセキュリティ対策を回避する用途での利用は禁止します\n\n## Requirements\nこのn8n workflow JSON templateは、マルチクラウド Request Engine となるServerless Proxy / Fetcher と、[sitemaps.org](https://www.sitemaps.org/)準拠のXMLサイトマップ（最大 2 階層）を前提としています。",
        "height": 1216,
        "width": 1488,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        64
      ],
      "typeVersion": 1,
      "id": "a792bf73-921e-495d-9c77-9821bbf44af9",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "1000〜3999ms",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        2368
      ],
      "typeVersion": 1,
      "id": "3b6c854f-647b-42d4-9838-e97845d26110",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "ランダムスリープ\n1000〜3999ms",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2320,
        4304
      ],
      "typeVersion": 1,
      "id": "29445d63-aa11-478c-9a62-0cd0c2e17964",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "Step. 2の組み合わせ爆発に注意が必要。大量HTTPリクエストを順次処理する場合、実行時間が数時間に及ぶ、n8n実行タイムアウトやサーバーコスト増、メモリ枯渇に注意。\n\n対策として、キューモードによるn8n親子ワークフローなど。",
        "height": 176,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        2480
      ],
      "typeVersion": 1,
      "id": "5eb4c3e3-8d28-427d-be3c-a543c09499af",
      "name": "Sticky Note39"
    },
    {
      "parameters": {
        "content": "# 設定⑦ 180 RequestEngine Settings\nクラウド種別/エリア/言語\n\n- AWS Lambda/東京リージョン/日本語\n- Cloudflare Workers/global/日本語\n- GCP CloudRun/台湾/Nothing\n  \nなど\n\n280系ノードで設定を合わせる必要あり",
        "height": 384,
        "width": 358,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        2128
      ],
      "typeVersion": 1,
      "id": "5e806313-a163-4286-a500-0e9ba0729733",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "# Step.0\n\nMainDocument\nTarget UrLs Creator\n\n1から99ノード",
        "height": 592,
        "width": 150,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        1264
      ],
      "typeVersion": 1,
      "id": "472d818b-6673-4413-a808-0b26672392e4",
      "name": "Sticky Note38"
    },
    {
      "parameters": {
        "content": "BigQuery / Looker Studio / 生成AI、etc、多様な分析&最適化への活用可能",
        "height": 112,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3056,
        3056
      ],
      "typeVersion": 1,
      "id": "b6c28e1f-6c92-4463-962d-d15c1c1c0239",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "# 170 n8n RequestSecret Token Generator\n照合用リクエストシークレットを使うトークン生成をしている\n\nAction：Hash\nBinary File：無効\nType：SHA256\nValue：以下を記載\n```\n{{ $json.targetUrl }}{{ $env.N8N_EO_REQUEST_SECRET }}\n```\nProperty Name：tokenCalculatedByN8n\nEncodig：HEX\n\n※EO_Infra_Docker/.env （env.example）\nでN8N_EO_REQUEST_SECRETを正しく作成している必要あり",
        "height": 432,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2688,
        1664
      ],
      "typeVersion": 1,
      "id": "65686353-64a9-4d5b-85b8-64b1d7f8e520",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "210 Step.2 Separete Starter Dummy\n直前のitem数がTotal Warmupリクエスト数",
        "height": 112
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3520,
        2400
      ],
      "typeVersion": 1,
      "id": "f966afbd-1d7a-42ac-b5e5-c3e499dc45c6",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "# 設定③\n\n`125-1 HTTP Req to MainDoc URL locs through Playwright`\nで Playwrightによるヘッドレスブラウザ（dockerコンテナ）を使わない場合\n`125-2 HTTP Req MainDoc URL locs without Playwright`\nに入れ替え\n\n**Target URLリスト抽出網羅性は下がります**",
        "height": 528,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        2016
      ],
      "typeVersion": 1,
      "id": "c5057e98-f1f7-400b-bc6b-129c3d4190dc",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "content": "# 設定⑨ 235 Get IDtoken From GCP Service Account Access Token\n\nGCPサービスアカウントのJSON Keyをn8n Credentialsで`Google Service Account API`を使って登録。Authenticationで`Google Service Account API`の該当のCredentialを設定する\n\nGithubリポジトリ\n\nhttps://github.com/Masamasamasashito/EdgeOptimizer\n\nで\nEO_Documents/Manuals/py/CloudRun_README.md\nEO_Documents/Manuals/RE_README.md\nなどを参照",
        "height": 432,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        4448
      ],
      "typeVersion": 1,
      "id": "5208dac8-e938-4e85-aa96-a54004ba633c",
      "name": "Sticky Note44"
    },
    {
      "parameters": {
        "content": "# 115 Step.1 MainDocUrls Starter Dummy【INPUT】json Format Sample\n\nStep.1から開始する場合、\n1. 75と115を分離\n2. 110のコードでターゲットURLを記載し、110後方から115前方に接続\n3. 110だけ実行\n4. 420 JSON to RequestResultsCSVを実行\n```\n[\n\t{\n\t\t\"loc\":\"https://sample.com/information/\"\n\t},\n\t{\t\n\t\t\"loc\":\"https://sample.com/お知らせ/site-renewal/\"\n\t},\n\t{\n\t\t\"loc\":\"https://sample.com/\"\n\t},\n\t{\n\t\t\"loc\":\"https://sample.com/category/お知らせ/\"\n\t},\n\t{\n\t\t\"loc\":\"https://sample.com/author/nissy02/\"\n\t}\n]\n```",
        "height": 560,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        1040
      ],
      "typeVersion": 1,
      "id": "03f6194c-83a9-460d-8db9-c36852a78c1c",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# 210 INPUT json Format Sample For Step.2\n\n【重要】170 n8n RequestSecret Token Generator を使わないため、Secret Key Token 手動生成が必要でかなり大変。\nそのため、Step.2分離用スタートノード未作成。\n\n```\n[\n  {\n    \"data\": {\n      \"targetUrl\": \"https://sample.com/\",\n      \"urltype\": \"main_document\",\n      \"tokenCalculatedByN8n\": \"AAAAAAAAAAAAAAAAAAAAAAA\",\n      \"headers\": {\n        \"User-Agent\": \"Mozilla/5.0 (iPhone; CPU iPhone OS 17_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Mobile/15E148 Safari/604.1\",\n        \"Accept-Language\": \"ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7\"\n      },\n      \"userAgentLabel\": \"ios_safari_17\",\n      \"cloud_type_area\": \"AwsLambda_ap-northeast-1\",\n      \"httpRequestNumber\": 5\n    }\n  },\n  {\n    \"data\": {\n      \"targetUrl\": \"https://sample.com/\",\n      \"urltype\": \"main_document\",\n      \"tokenCalculatedByN8n\": \"BBBBBBBBBBBBBBBBBBBBBBBBBBBB\",\n      \"headers\": {\n        \"User-Agent\": \"Mozilla/5.0 (iPhone; CPU iPhone OS 17_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Mobile/15E148 Safari/604.1\",\n        \"Accept-Language\": \"ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7\"\n      },\n      \"userAgentLabel\": \"ios_safari_17\",\n      \"cloud_type_area\": \"AzureFunctions_japaneast\",\n      \"httpRequestNumber\": 6\n    }\n  },\n  {\n    \"data\": {\n      \"targetUrl\": \"https://sample.com/\",\n      \"urltype\": \"main_document\",\n      \"tokenCalculatedByN8n\": \"CCCCCCCCCCCCCCCCCCCCCCCCCCCC\",\n      \"headers\": {\n        \"User-Agent\": \"Mozilla/5.0 (iPhone; CPU iPhone OS 17_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Mobile/15E148 Safari/604.1\",\n        \"Accept-Language\": \"ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7\"\n      },\n      \"userAgentLabel\": \"ios_safari_17\",\n      \"cloud_type_area\": \"CloudflareWorker_global\",\n      \"httpRequestNumber\": 7\n    }\n  },\n  {\n    \"data\": {\n      \"targetUrl\": \"https://sample.com/\",\n      \"urltype\": \"main_document\",\n      \"tokenCalculatedByN8n\": \"DDDDDDDDDDDDDDDDDDDDDDDDDDDDDD\",\n      \"headers\": {\n        \"User-Agent\": \"Mozilla/5.0 (iPhone; CPU iPhone OS 17_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Mobile/15E148 Safari/604.1\",\n        \"Accept-Language\": \"ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7\"\n      },\n      \"userAgentLabel\": \"ios_safari_17\",\n      \"cloud_type_area\": \"GcpCloudFunctions_asia-northeast1\",\n      \"httpRequestNumber\": 8\n    }\n  },\n  {\n    \"data\": {\n      \"targetUrl\": \"https://sample.com/wp-includes/js/jquery/jquery.min.js\",\n      \"urltype\": \"asset\",\n      \"tokenCalculatedByN8n\": \"EEEEEEEEEEEEEEEEEEEEEEEEEEEEEE\",\n      \"headers\": {\n        \"User-Agent\": \"Mozilla/5.0 (iPhone; CPU iPhone OS 17_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Mobile/15E148 Safari/604.1\",\n        \"Accept-Language\": \"ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7\"\n      },\n      \"userAgentLabel\": \"ios_safari_17\",\n      \"cloud_type_area\": \"AwsLambda_ap-northeast-1\",\n      \"httpRequestNumber\": 9\n    }\n  },\n  {\n    \"data\": {\n      \"targetUrl\": \"https://sample.com/wp-includes/js/jquery/jquery.min.js\",\n      \"urltype\": \"asset\",\n      \"tokenCalculatedByN8n\": \"FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF\",\n      \"headers\": {\n        \"User-Agent\": \"Mozilla/5.0 (iPhone; CPU iPhone OS 17_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Mobile/15E148 Safari/604.1\",\n        \"Accept-Language\": \"ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7\"\n      },\n      \"userAgentLabel\": \"ios_safari_17\",\n      \"cloud_type_area\": \"AzureFunctions_japaneast\",\n      \"httpRequestNumber\": 10\n    }\n  },\n  {\n    \"data\": {\n      \"targetUrl\": \"https://sample.com/wp-includes/js/jquery/jquery.min.js\",\n      \"urltype\": \"asset\",\n      \"tokenCalculatedByN8n\": \"GGGGGGGGGGGGGGGGGGGGGGGGGG\",\n      \"headers\": {\n        \"User-Agent\": \"Mozilla/5.0 (iPhone; CPU iPhone OS 17_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Mobile/15E148 Safari/604.1\",\n        \"Accept-Language\": \"ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7\"\n      },\n      \"userAgentLabel\": \"ios_safari_17\",\n      \"cloud_type_area\": \"CloudflareWorker_global\",\n      \"httpRequestNumber\": 11\n    }\n  },\n  {\n    \"data\": {\n      \"targetUrl\": \"https://sample.com/wp-includes/js/jquery/jquery.min.js\",\n      \"urltype\": \"asset\",\n      \"tokenCalculatedByN8n\": \"HHHHHHHHHHHHHHHHHHHHHHHHHHHHH\",\n      \"headers\": {\n        \"User-Agent\": \"Mozilla/5.0 (iPhone; CPU iPhone OS 17_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Mobile/15E148 Safari/604.1\",\n        \"Accept-Language\": \"ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7\"\n      },\n      \"userAgentLabel\": \"ios_safari_17\",\n      \"cloud_type_area\": \"GcpCloudFunctions_asia-northeast1\",\n      \"httpRequestNumber\": 12\n    }\n  }\n]\n```",
        "height": 1312,
        "width": 1392
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3568,
        1328
      ],
      "typeVersion": 1,
      "id": "37529f9f-acd4-4d98-bd80-64680c7172a3",
      "name": "Sticky Note46"
    },
    {
      "parameters": {
        "jsCode": "// items[*].json.url を見て json.urltype を付与\n// ① アセット拡張子が URL 末尾にある → \"asset\"\n// ② アセット拡張子が URL 末尾に無い、もしくは /(スラッシュ) もしくは .html / .htm → \"main_document\"\n// ③ 上記以外 \"exception\"\n\nconst ASSET_EXTENSIONS = [\n// テスト時はjsやcssだけにすると削減しやすい\n  'css',\n  'js',\n  'jpg', 'jpeg', 'gif', 'png', 'webp', 'avif', 'svg', 'ico',\n  'woff', 'woff2', 'ttf', 'otf', 'eot',\n];\n\nreturn items.map(item => {\n  if (!item.json || typeof item.json.targetUrl !== 'string') {\n    return item;\n  }\n  //前後の空白を削除してクリーンなURL文字列に\n  const inputUrl = item.json.targetUrl.trim();\n\n  let urlPath = '/';\n\n  // ホストより後ろ（パス部分）を取り出す\n  try {\n    const parsedUrl = new URL(inputUrl);\n    urlPath = parsedUrl.pathname || '/';\n  } catch (error) {\n    // フォールバック: プロトコル＋ホストを削る\n    const match = inputUrl.match(/^[a-zA-Z][a-zA-Z0-9+.-]*:\\/\\/[^/]+(\\/.*)?$/);\n    urlPath = (match && match[1]) ? match[1] : '/';\n  }\n\n  // パスの最後の要素（/ だけなら空文字）\n  const pathSegments = urlPath.split('/').filter(Boolean);\n  const lastPathSegment = pathSegments.length ? pathSegments[pathSegments.length - 1] : '';\n\n  // 拡張子を取得（無ければ空文字）\n  let fileExtension = '';\n  const dotIndex = lastPathSegment.lastIndexOf('.');\n  if (dotIndex !== -1 && dotIndex < lastPathSegment.length - 1) {\n    fileExtension = lastPathSegment.slice(dotIndex + 1).toLowerCase();\n  }\n\n  //URLタイプ分類を開始\n  let urlCategory;\n\n  // ① アセット拡張子が URL 末尾にある\n  if (ASSET_EXTENSIONS.includes(fileExtension)) {\n    urlCategory = 'asset';\n\n  // ② アセット拡張子が無い、末尾が /、または .html / .htm\n  } else if (\n    fileExtension === '' ||             // アセット拡張子なし\n    urlPath.endsWith('/') ||            // URL末尾がスラッシュ\n    fileExtension === 'html' ||\n    fileExtension === 'htm'\n  ) {\n    urlCategory = 'main_document';\n\n  // ③ 上記以外は例外\n  } else {\n    urlCategory = 'exception';\n  }\n\n  item.json.urltype = urlCategory;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        2544
      ],
      "id": "2aaa0f07-3078-4688-bf29-c7ab136d5184",
      "name": "160 Asset / MainDoc / Exception Classification"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d8adb7d-a3d1-4344-bc18-3767ef6c8d18",
              "leftValue": "={{ $json.urltype }}",
              "rightValue": "exception",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2048,
        2544
      ],
      "id": "f2f9d6ef-1d4a-48fb-8b32-fc53d2fd7d1a",
      "name": "165 exception Filter"
    },
    {
      "parameters": {
        "jsCode": "// 入力: [{ json: { targetUrl, tokenCalculatedByN8n, headersForTargetUrl, userAgentLabel } }, ...]\nconst items = $input.all();\n\nreturn items.map((item, i) => ({\n  json: {\n    ...item.json,\n    httpRequestNumber: i + 1, // 1始まり\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        2560
      ],
      "id": "a4cb6530-6bdf-4aed-b644-643e9fe44673",
      "name": "185 Add Http Request Number"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n// EO Request Engine で採用する クラウド種類別サーバレス/エリア と 言語(Accept-Language)の一覧\nconst requestEngineList = [\n  { \n    type_area: 'AwsLambda_ap-northeast-1',\n    accept_language: 'ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7',\n  },\n  { \n    type_area: 'AzureFunctions_japan-east',\n    accept_language: 'ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7',\n  },\n  { \n    type_area: 'CloudflareWorkers_global',\n    accept_language: 'ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7',\n  },\n  { \n    type_area: 'GcpCloudRun_asia-northeast1',\n    accept_language: 'ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7',\n  },\n  // Example\n  // { \n  //   type_area: 'DirectRequest',\n  //   accept_language: 'ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7',\n  // },\n  // { \n  //   type_area: 'AwsLambda_ap-northeast-1',\n  //   accept_language: 'ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7',\n  // },\n  // { \n  //   type_area: 'AzureFunctions_japan-east',\n  //   accept_language: 'ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7',\n  // },\n  // { \n  //   type_area: 'CloudflareWorkers_global',\n  //   accept_language: 'ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7',\n  // },\n  // { \n  //   type_area: 'GcpCloudRun_asia-northeast1',\n  //   accept_language: 'ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7',\n  // },\n\n  // { \n  //   type_area: 'AkamaiEdgeworker_global',\n  //   accept_language: 'ja,ja-JP;q=0.9,en-US;q=0.8,en;q=0.7',\n  // },\n  \n  // ※ accept_language無しの場合\n  // { \n  //   type_area: 'CloudflareWorker_global' ,\n  //   accept_language: 'nothing',\n  // },  \n];\n\n// 出力用配列\nconst out = [];\n\nfor (const item of items) {\n  const baseData = item.json ?? item;\n\n  // targetUrl / tokenCalculatedByN8n が無い行はスキップ\n  if (!baseData.targetUrl || !baseData.tokenCalculatedByN8n) continue;\n\n  // 1件の入力に対し、requestEngineList 全エンジンを展開\n  for (const requestEngine of requestEngineList) {\n    // 既存 headersForTargetUrl（User-Agent 等）を壊さないようにコピー\n    const headers = { ...(baseData.headersForTargetUrl || {}) };\n\n    if (\n      requestEngine.accept_language &&\n      requestEngine.accept_language !== 'nothing'\n    ) {\n      // Accept-Language を付与するパターン\n      headers['Accept-Language'] = requestEngine.accept_language;\n    } else {\n      // “nothing” の場合は Accept-Language ヘッダを付けない（存在していれば削除）\n      delete headers['Accept-Language'];\n    }\n\n    out.push({\n      json: {\n        // 元データ引き継ぎ\n        ...baseData,\n\n        // Request Engine 情報\n        cloud_type_area: requestEngine.type_area,\n\n        // User-Agent など既存ヘッダ + Accept-Language を反映\n        headersForTargetUrl: headers,\n      },\n    });\n  }\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        2560
      ],
      "id": "1fcd7c1b-f055-4d05-83e0-7ba9d32c0c15",
      "name": "180 RequestEngine Settings"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -416,
        3248
      ],
      "id": "1fac76b1-1419-4f2d-a039-844923ea8fc3",
      "name": "220 Loop Over Request Target Urls",
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iamcredentials.googleapis.com/v1/projects/-/serviceAccounts/<Oauth2_Invokerサービスアカウントeメール>:generateIdToken",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"audience\": \"https://eo-re-d01-cloudrun-asne1-<10桁hash>-an.a.run.app\",\n  \"includeEmail\": true\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        4080
      ],
      "id": "ac9f2be9-b61a-42a9-9bc0-dfee18a20385",
      "name": "235 Get IDtoken From GCP Service Account Access Token",
      "alwaysOutputData": false,
      "credentials": {
        "googleApi": {
          "id": "WlYTMbl1132hGg34",
          "name": "GCP CloudRun Dummy_OAuth2_Invoker_SA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "769698a5-49d2-423c-bc69-86015cdb5a25",
              "name": "gcf.idToken",
              "value": "={{ $json.token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        4080
      ],
      "id": "86c2022a-323e-4451-8690-4c3765594077",
      "name": "240 IDtoken to json"
    },
    {
      "parameters": {
        "jsCode": "// すべての input items を取得\nconst items = $input.all();\nconst out = [];\n\nfor (const item of items) {\n  const j = item.json || {};\n\n  // data を削除した新しい JSON を作る\n  const cleaned = {\n    headers: j.headers ?? {},\n    statusCode: j.statusCode ?? null,\n    statusMessage: j.statusMessage ?? null,\n  };\n\n  out.push({ json: cleaned });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        3360
      ],
      "id": "b5a3cf2e-efd5-44eb-99d2-6d565c75783b",
      "name": "285 JSON data REMOVER"
    },
    {
      "parameters": {
        "jsCode": "// Lambdaノードの出力: { json: { result: { ...本体... } } }\n// Workerノードの出力:  { json: { ...本体... } }\n//\n// 両方に対応できるように、result があれば中身だけを json に移し替える。\n\nconst items = $input.all();\n\nfor (const item of items) {\n  const j = item.json;\n  if (\n    j &&\n    typeof j === 'object' &&\n    !Array.isArray(j) &&\n    j.result &&\n    typeof j.result === 'object' &&\n    !Array.isArray(j.result)\n  ) {\n    // result配下がフラットEOログ本体なので、そこに差し替える\n    item.json = j.result;\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        3552
      ],
      "id": "7e964aa7-4a51-43b9-91d7-e3c68cad21f9",
      "name": "295 JSON result REMOVER"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        3872
      ],
      "id": "9167456f-d9f3-4f1e-9768-32e6a676c8e3",
      "name": "230 data Keeper for GCP"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // 元の headers を退避しておく\n  const originalHeaders = item.json.headers;\n\n  // レスポンス body があれば、json のルートに引き上げ (既存処理)\n  if (item.json.body) {\n    item.json = item.json.body;\n  }\n\n  // 退避しておいた headers があれば、キー名に \"headers.\" を付けて追加 (新規処理)\n  if (originalHeaders) {\n    Object.keys(originalHeaders).forEach(key => {\n      item.json[`headers.${key}`] = originalHeaders[key];\n    });\n  }\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        4176
      ],
      "id": "01690e14-b55f-47f3-b537-8f68e92797df",
      "name": "305 GCP Arranger"
    },
    {
      "parameters": {
        "jsCode": "const delay = Math.floor(Math.random() * 3000) + 1000; // 1000〜3999ms\nawait new Promise(r => setTimeout(r, delay));\nreturn [{ json: { ...$json, waitSeconds: delay / 1000 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        4224
      ],
      "id": "24508637-54df-4951-8878-65d7841c203e",
      "name": "340 Random Sleep (ms)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 全アイテムを取得\nconst inputItems = $input.all();\n\n/**\n * ネストされたオブジェクトを \"a.b.c\" 形式でフラット化する再帰関数\n */\nfunction flattenNestedObject(targetObject, parentKey = '', flattenedResult = {}) {\n  for (const [currentKey, currentValue] of Object.entries(targetObject)) {\n    const combinedKey = parentKey ? `${parentKey}.${currentKey}` : currentKey;\n\n    if (\n      currentValue !== null &&\n      typeof currentValue === 'object' &&\n      !Array.isArray(currentValue)\n    ) {\n      // 再帰処理でさらに深い階層を展開\n      flattenNestedObject(currentValue, combinedKey, flattenedResult);\n    } else {\n      // 値をセット（null や undefined は空文字に変換）\n      flattenedResult[combinedKey] = currentValue === undefined ? '' : currentValue;\n    }\n  }\n  return flattenedResult;\n}\n\nconst flattenedOutputItems = [];\n\nfor (const item of inputItems) {\n  const originalJson = item.json || {};\n  // item.json をフラット化\n  const flattenedJson = flattenNestedObject(originalJson);\n  flattenedOutputItems.push({ json: flattenedJson });\n}\n\n// フラット化された複数アイテムを返す\nreturn flattenedOutputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        3232
      ],
      "id": "2291686f-9ca3-4247-8e7c-05b3f1ededb8",
      "name": "350 Json Flattener for Csv"
    },
    {
      "parameters": {
        "jsCode": "// すべてのアイテムに対してループ処理\nreturn items.map(item => {\n  \n  // 1. フラット化されたデータからステータスとAgeを取得\n  // ※Node 350の後なので、ドット区切りのキー名で指定します\n  const status = (item.json['headers.response-headers.cf-cache-status'] || '').toUpperCase();\n  const age = parseInt(item.json['headers.response-headers.age'] || '0', 10);\n\n  let message = \"\";\n\n  // 2. 判定ロジック（短い英語バージョン）\n  if (status === 'MISS' || status === 'EXPIRED') {\n    // キャッシュなし（消失）\n    message = \"⚠️ EVICTED: Cache Lost\";\n    \n  } else if (status === 'HIT' && age < 60) {\n    // 直前に生成された（ギリギリセーフ）\n    message = \"⚠️ FRESH: Just Created\";\n    \n  } else if (status === 'DYNAMIC' || status === 'BYPASS') {\n    // キャッシュ対象外（意図的な設定）\n    message = \"ℹ️ IGNORE: Dynamic/Bypass\";\n    \n  } else if (status === 'HIT') {\n    // 正常なキャッシュ\n    message = \"✅ SAFE: Cache Active\";\n    \n  } else {\n    // Cloudflare以外のレスポンスや不明なステータス\n    message = \"-\";\n  }\n\n  // 3. 新しいカラム「eo.re.eviction-alert」として追加\n  item.json['eo.re.eviction-alert'] = message;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        3232
      ],
      "id": "fc3a7e6c-e148-457d-8ecd-f4e3d679a1ec",
      "name": "355 Eviction Detector"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        1504
      ],
      "id": "30d31f1d-ed52-4afa-a666-4aadf8160c2e",
      "name": "010 Step.0 Starter by XML sitemap"
    },
    {
      "parameters": {
        "url": "={{ $json.Website }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        1504
      ],
      "id": "ae11fd95-4dd6-414e-89b8-d72e7da267ee",
      "name": "040 Direct HTTP Req to get Tier2 XML sitemap URLs"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        480,
        1504
      ],
      "id": "2100259c-fc50-4c73-8a01-92fe631d5af1",
      "name": "045 XML to JSON"
    },
    {
      "parameters": {
        "jsCode": "const sitemapIndex = items[0].json.sitemapindex;\n\n// 存在チェック\nif (!sitemapIndex || !Array.isArray(sitemapIndex.sitemap)) {\n  throw new Error('sitemapindex.sitemap が見つかりません');\n}\n\n// sitemap配列から、loc を１件ずつurlに変換。他項目を排除\nconst result = sitemapIndex.sitemap.map((entry) => {\n  return {\n    url: entry.loc,\n  };\n});\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1504
      ],
      "id": "52cc487d-7d76-4f23-9a1b-295ca5b86f66",
      "name": "050 JSON to urls by loc"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1472,
        1488
      ],
      "id": "60d3658d-8594-4571-a20c-7168f7b10e46",
      "name": "070 XML to JSON"
    },
    {
      "parameters": {
        "jsCode": "// n8nの内部メソッドを使用して、マスクされる前の値にアクセスを試みます\nconst items = $input.all();\n\n// 前のノード(HTTP Request)の実行設定から、Credential経由で付与された値を取り出す\n// 注意: Self-hosted版の環境やバージョンにより、直接参照を制限している場合があります\nconst secretHeader = $node[\"025 Credential Fetch Request\"].parameter(\"headerParameters\");\n\n// 抽出処理\nreturn items.map(item => {\n  return {\n    json: {\n      ...item.json,\n\n      // Credentialで設定した「x-eo-request-secret」というキーを探して抽出\n      // 取得できない場合は、フォールバックとして空文字を返します\n\n      extracted_secret: secretHeader?.parameters?.find(p => p.headers === 'x-eo-request-secret')?.value || \"\"\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        768
      ],
      "id": "2574ff17-ed9c-463d-ab8a-0f857396612a",
      "name": "30 Response Secret Catcher"
    },
    {
      "parameters": {
        "url": "https://httpbin.org/get",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        768
      ],
      "id": "c3918499-ea98-4591-b674-7e0add2dc0aa",
      "name": "025 Credential Fetch Request"
    },
    {
      "parameters": {
        "jsCode": "// 30 Secret Injection (ログ露出対策版)\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: {\n      ...item.json,\n      // ★重要：ここを「式（Expression）」として記述します\n      // n8nのGUI上で、この部分を以下の Expression に差し替えてください\n      // {{$getCredentials('headerAuth', 'CacheWarmer_Secret').value}}\n      \n      // 注意：Codeノード内で文字列として書くと動きません。\n      // ノードのパラメータ入力欄、または後続の170番ノードで直接呼び出すのがベストです。\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        768
      ],
      "id": "e47bbafc-ada3-413c-a6e1-9cce5daddb0f",
      "name": "30 Secret Injection"
    },
    {
      "parameters": {
        "content": "# 課題1\nhttps://www.youtube.com/watch?v=QAUOBAJkTkA \n\nを参考に n8nのCredentialsで環境変数シークレットを扱えると、\nDockerの.env にリクエストシークレットを記載する必要がなくなり、\nSaaS版n8nも含めて使いやすくなる。\n\n現状は、ノードを使うと平文でINPUTやOUTPUTの中を丸見えで駆け巡り、ログに残るため、暗号化の改善が必要。",
        "height": 416,
        "width": 880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        544
      ],
      "typeVersion": 1,
      "id": "fd560833-6702-402e-bf61-e381c2d1636e",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "content": "# 課題3 170 n8n RequestSecret Token Generator\n\nトークン生成が<ターゲットURL><リクエストシークレット>のsha256加工であるため、セキュリティ性の向上が必要",
        "height": 192,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        2768
      ],
      "typeVersion": 1,
      "id": "a67c762c-ee3d-410d-83c7-6154e9a33576",
      "name": "Sticky Note45"
    },
    {
      "parameters": {
        "content": "# Step.3\n\nData Analyzer\n\n400~",
        "height": 1472,
        "width": 150,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        5056
      ],
      "typeVersion": 1,
      "id": "ffdb334b-c070-4e01-ba84-c0d4fed5795f",
      "name": "Sticky Note48"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        5056
      ],
      "id": "8dcd04f0-45d7-4d5b-bc88-ed637bf212c1",
      "name": "415 Step.3 Separate Starter Dummy"
    },
    {
      "parameters": {
        "url": "={{ $json.data.targetUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.data.headersForTargetUrl[\"User-Agent\"] }}"
            },
            {
              "name": "Accept-Language",
              "value": "={{ $json.data.headersForTargetUrl[\"Accept-Language\"] }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        3360
      ],
      "id": "af1fca1e-f97e-4fe8-a0ab-007fc7755014",
      "name": "280DirectRequest"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<CF WorkersリクエストエンジンのカスタムドメインURL>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.data.headersForTargetUrl[\"User-Agent\"] }}"
            },
            {
              "name": "Accept-Language",
              "value": "={{ $json.data.headersForTargetUrl[\"Accept-Language\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"targetUrl\": \"{{ $json.data.targetUrl }}\",\n  \"tokenCalculatedByN8n\": \"{{ $json.data.tokenCalculatedByN8n }}\",\n  \"headersForTargetUrl\": \"{{ $json.data.headersForTargetUrl }}\",\n  \"httpRequestNumber\": {{ $json.data.httpRequestNumber }},\n  \"httpRequestUUID\": \"{{ $json.data.httpRequestUUID }}\",\n  \"httpRequestRoundID\": {{ $json.data.httpRequestRoundID }},\n  \"urltype\": \"{{ $json.data.urltype }}\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        3968
      ],
      "id": "a20d1d0b-8452-4e48-b0e4-07ee328ece4b",
      "name": "280CF-global RequestEngine ZeroTrust",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpCustomAuth": {
          "id": "OMYwL20hzwHS4JsH",
          "name": "CF Dummy Custom Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<GCP CloudRunリクエストエンジンのサービスURL>/<エンドポイントパス>",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.data.headersForTargetUrl[\"User-Agent\"] }}"
            },
            {
              "name": "Accept-Language",
              "value": "={{ $json.data.headersForTargetUrl[\"Accept-Language\"] }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.gcf.idToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"targetUrl\": \"{{ $json.data.targetUrl }}\",\n  \"tokenCalculatedByN8n\": \"{{ $json.data.tokenCalculatedByN8n }}\",\n  \"headersForTargetUrl\": \"{{ $json.data.headersForTargetUrl }}\",\n  \"httpRequestNumber\": \"{{ $json.data.httpRequestNumber }}\",\n  \"httpRequestUUID\": \"{{ $json.data.httpRequestUUID }}\",\n  \"httpRequestRoundID\": \"{{ $json.data.httpRequestRoundID }}\",\n  \"urltype\": \"{{ $json.data.urltype }}\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        4176
      ],
      "id": "350091c1-0743-4db5-b73a-d27bfa457e17",
      "name": "280GCP-asia-northeast1 RequestEngine Oauth2 Bearer"
    },
    {
      "parameters": {
        "function": "=eo-re-d01-lambda-apne1",
        "payload": "={{ $json.data }}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        944,
        3552
      ],
      "id": "df15938f-292b-4bd9-abd8-82cbf0b4f9f1",
      "name": "280AWS-apne1 RequestEngine AccessKey",
      "credentials": {
        "aws": {
          "id": "Cstsl8yWBOrKJ66G",
          "name": "AWS (IAM) account Dummy"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<Az FunctionsリクエストエンジンのエンドポイントURL>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.data.headersForTargetUrl[\"User-Agent\"] }}"
            },
            {
              "name": "Accept-Language",
              "value": "={{ $json.data.headersForTargetUrl[\"Accept-Language\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"targetUrl\": \"{{ $json.data.targetUrl }}\",\n  \"tokenCalculatedByN8n\": \"{{ $json.data.tokenCalculatedByN8n }}\",\n  \"headersForTargetUrl\": \"{{ $json.data.headersForTargetUrl }}\",\n  \"httpRequestNumber\": {{ $json.data.httpRequestNumber }},\n  \"httpRequestUUID\": \"{{ $json.data.httpRequestUUID }}\",\n  \"httpRequestRoundID\": {{ $json.data.httpRequestRoundID }},\n  \"urltype\": \"{{ $json.data.urltype }}\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        3760
      ],
      "id": "323852b4-bd43-40ee-bea0-8efa46dd4acf",
      "name": "280AZ-japan-east RequestEngine KeyVault",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hB0mEoppBj9zs3D6",
          "name": "Azure Dummy Hedaer Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 230 JSON data REMOVER の OUTPUT を前提\n// [\n//   {\n//     \"headers\": { ... },\n//     \"statusCode\": 200,\n//     \"statusMessage\": \"OK\"\n//   }\n// ]\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const j = item.json || {};\n  const h = j.headers || {};\n\n  // statusCode と statusMessage を \"200 OK\" のような形に結合\n  const statusCode = j.statusCode;\n  const statusMessage = j.statusMessage;\n  let combinedStatus = '';\n\n  if (statusCode !== undefined && statusCode !== null) {\n    combinedStatus = String(statusCode);\n  }\n  if (statusMessage) {\n    combinedStatus = combinedStatus\n      ? `${combinedStatus} ${statusMessage}`\n      : String(statusMessage);\n  }\n\n  return {\n    json: {\n      // ■ headers.* → headers.response-headers.*\n      'headers.response-headers.server': h.server ?? '',\n      'headers.response-headers.date': h.date ?? '',\n      'headers.response-headers.content-type': h['content-type'] ?? '',\n      'headers.response-headers.transfer-encoding': h['transfer-encoding'] ?? '',\n      'headers.response-headers.connection': h.connection ?? '',\n      'headers.response-headers.vary': h.vary ?? '',\n      'headers.response-headers.link': h.link ?? '',\n\n      // ■ statusCode + statusMessage → headers.general.status-code\n      'headers.general.status-code': combinedStatus,\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        3360
      ],
      "id": "097e1e85-6329-4c90-b03c-a1a195af98d3",
      "name": "290 DirectRequest Arranger"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // 元の headers を退避しておく\n  const originalHeaders = item.json.headers;\n\n  // レスポンス body があれば、json のルートに引き上げ (既存処理)\n  if (item.json.body) {\n    item.json = item.json.body;\n  }\n\n  // 退避しておいた headers があれば、キー名に \"headers.\" を付けて追加 (新規処理)\n  if (originalHeaders) {\n    Object.keys(originalHeaders).forEach(key => {\n      item.json[`headers.${key}`] = originalHeaders[key];\n    });\n  }\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        3760
      ],
      "id": "9dbf62f7-b1de-48f9-b7fb-51af65451cd5",
      "name": "300 AZ Arranger"
    },
    {
      "parameters": {
        "jsCode": "/**\n * ターゲットURLをカンマ区切りで記載\n * ブラウザアドレスバーURLをそのままコピペでOK\n */\nconst targetUrls = [\n  //\"https://4649-24.com/\",\n  \"https://4649-24.com/edge-optimizer/\",\n  // \"https://sample.com,\n  // \"https://sample.com/edge-optimizer/\", \n];\n\n// -----------------------------------\n// 上記配列(targetUrls)をループ出力\n// -----------------------------------\nreturn targetUrls.map(url => ({\n  json: {\n    \"loc\": url\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        1712
      ],
      "id": "c38ca695-3f80-4144-8150-885970a33029",
      "name": "110 Step.1 Starter SimpleUrlList"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        4080
      ],
      "id": "da70e907-ae2f-42ab-9df8-ea236b7d194b",
      "name": "245 data and GCP IDtoken Merger"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map((item) => {\n  let uuid;\n  try {\n    // 標準モジュールのcrypto.randomUUID()を試す\n    uuid = crypto.randomUUID();\n  } catch (e) {\n    // フォールバック: 手動生成\n    uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n      const r = Math.random() * 16 | 0;\n      const v = c === 'x' ? r : (r & 0x3 | 0x8);\n      return v.toString(16);\n    });\n  }\n  \n  return {\n    json: {\n      ...item.json,\n      httpRequestUUID: uuid,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        2560
      ],
      "id": "a0545496-9b75-47b6-b2f9-f79973870a71",
      "name": "190 Add Http Request UUID"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        2848
      ],
      "id": "2a79d633-68ba-409f-902c-3917c4484635",
      "name": "210 Step.2 Separate Starter Dummy"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst roundId = Math.floor(Date.now() / 1000); // ノード実行時点のタイムスタンプ\n\nreturn items.map((item) => ({\n  json: {\n    data: {\n      ...item.json.data,\n      httpRequestRoundID: roundId, // 全アイテム同じ値を設定\n    },\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        3248
      ],
      "id": "be113e09-8f68-414b-a3c4-fcb9ee7f5e0b",
      "name": "215 Add httpRequestRoundID"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.targetUrl }}{{ $env.N8N_EO_REQUEST_SECRET }}",
        "dataPropertyName": "tokenCalculatedByN8n"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        2288,
        2560
      ],
      "id": "634518a0-0490-4893-a9f8-cf19cdc3bf93",
      "name": "170 n8n RequestSecret Token Generator"
    },
    {
      "parameters": {
        "content": "# 設定② 015 DNS Get TXT value と 020 DNS TXT Check\nDNSのTXTレコード照合チェック\n\n1. DNSのTXTレコード登録と照合認証\nDNSにて、以下TXTレコードを追加、また、n8nノード側も同様に設定。\n- ホスト名　:　_eo-dns-txt-auth.sample.com\n    - 「015 DNS Get TXT value」で「Query Parameters」のValue に設定有り\n- 値 (内容)　:　EX) eo-dns-txt-value-check-sampletxt\n    - 「20 DNS TXT Check」ノードの「DNSTXT_TOKEN」を「eo-dns-txt-value-check-sampletxt」と編集",
        "height": 336,
        "width": 614,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        1120
      ],
      "typeVersion": 1,
      "id": "036ab947-324a-4344-96c6-9b40dcfc0f75",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# リクエストエンジン実行前にCF Cache 全パージを行う場合\n\n以下2系統を追加して利用\n\n系統①140→142→143\n系統②140→141-1,2,3,4,5→142\n\n141-2　は以下の2変数が必要。\n.envと docker-compose.yml に記載する\n\nN8N_EO_CF_CACHE_PURGE_ZONE_ID\nN8N_EO_CF_CACHE_PURGE_USER_API_TOKEN\n\n## 通常時\n140→143",
        "height": 432,
        "width": 534,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        2640
      ],
      "typeVersion": 1,
      "id": "32cf05fe-1e1f-43ba-b8f3-fe7493bc3cac",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "jsCode": "return [{}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        2784
      ],
      "id": "f32c12e9-2058-4d37-9197-535976157d49",
      "name": "141-1 Once CF Cache Purge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudflare.com/client/v4/zones/{{$env.N8N_EO_CF_CACHE_PURGE_ZONE_ID}}/purge_cache",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_EO_CF_CACHE_PURGE_USER_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"purge_everything\":true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        2784
      ],
      "id": "245794b6-6514-41ac-ad65-16526aba9215",
      "name": "141-2 CF Full Purge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a85e49cf-3a95-4517-ac21-00af4a161153",
              "leftValue": "={{ $json.purge_everything }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        2784
      ],
      "id": "28822759-9aa5-4a79-b057-775563a0805b",
      "name": "141-3 Full Purge Comp Check"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        144,
        2800
      ],
      "id": "ec6b7492-d92c-4634-9b3b-f185f5302609",
      "name": "141-4 Sleep for Full Purge",
      "webhookId": "7bc12a98-6a01-4270-9d65-3d1fe096d6f2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        2784
      ],
      "id": "2b4fe0ce-525c-4965-bd78-beaa4abcf965",
      "name": "142 Merge After CF Cache Purge"
    },
    {
      "parameters": {
        "jsCode": "return [{}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        2800
      ],
      "id": "ff95316b-0444-4d21-97dc-39b38a162e49",
      "name": "141-5 OUTPUT Deleter"
    },
    {
      "parameters": {
        "options": {
          "fileName": "=RequestResults_{{ $now.setZone('Asia/Tokyo').toFormat('yyyy-LL-dd_HH:mm') + '.csv' }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -576,
        5376
      ],
      "id": "11feec5a-85c3-4642-9751-1fd931237b86",
      "name": "420 JSON to RequestResultsCSV"
    },
    {
      "parameters": {
        "content": "# 課題2\n\n110ノードでconst targetPges と return targetPages.map の関係性が不明瞭（利用は可能）",
        "height": 208,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1632,
        1664
      ],
      "id": "e31c5951-536d-4c7f-b52f-f6d50b39dbb4",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n//--------------------------------------\n// DNSのTXTレコードのValue設定と合わせてください\n//--------------------------------------\nconst DNSTXT_VALUE = \"eo-authorized-sample\"; \n\nfor (const item of items) {\n  // Answer配列に、DNSTXT_VALUEを含むデータがあるか\n  const records = item.json.Answer || [];\n  const isOk = records.some(r => r.data && r.data.includes(DNSTXT_VALUE));\n\n  if (!isOk) {\n    throw new Error(\"【DNS TXT Verification Failed】Cannot verify ownership. Execution will be stopped.\");\n  }\n}\n\n// 認証成功なら「010 Start by XML sitemap」ノードのjson.Website情報を「復元」して次ノードに渡す\nreturn [ { json: $node[\"010 Step.0 Starter by XML sitemap\"].json } ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        1504
      ],
      "id": "0ff189ff-5ff3-4fae-a82e-eca00485d69b",
      "name": "020 DNS TXT Check"
    },
    {
      "parameters": {
        "url": "https://dns.google/resolve",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ \"_eo-dns-txt-auth.\" + $json.Website.match(/^https?:\\/\\/([^\\/?#]+)/i)[1] }}"
            },
            {
              "name": "type",
              "value": "TXT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -112,
        1504
      ],
      "id": "dde79888-dec2-4d58-b1cb-074356259665",
      "name": "015 DNS Get TXT value"
    },
    {
      "parameters": {
        "jsCode": "const delay = Math.floor(Math.random() * 3000) + 1000; // 1000〜3999ms\nawait new Promise(r => setTimeout(r, delay));\nreturn [{ json: { ...$json, waitSeconds: delay / 1000 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        1648
      ],
      "id": "3bbb7294-f420-45a9-afa3-12ebb4b7573a",
      "name": "065 Random Sleep",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const delay = Math.floor(Math.random() * 3000) + 1000; // 1000〜3999ms\nawait new Promise(r => setTimeout(r, delay));\nreturn [{ json: { ...$json, waitSeconds: delay / 1000 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        2448
      ],
      "id": "2c90e31a-39ad-425c-8a82-57969f847714",
      "name": "130 Random Sleep",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        944,
        1504
      ],
      "id": "cf7b6b68-a568-44e4-a2e9-5d8380f97ce8",
      "name": "055 Loop Tier2 XML locs"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        1584
      ],
      "id": "a79c65e5-1948-4c6a-ac85-6cfc79f1cbc7",
      "name": "060 HTTP Req to Tier2 XML locs"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\n\nfor (const item of items) {\n  const urlset = item.urlset || item.json?.urlset;\n  if (!urlset || !urlset.url) continue;\n\n  const urls = Array.isArray(urlset.url) ? urlset.url : [urlset.url];\n\n  for (const u of urls) {\n    out.push({\n      loc: Array.isArray(u.loc) ? u.loc[0] : u.loc\n    });\n  }\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        1488
      ],
      "id": "8c9e1aaa-526b-49e5-a9e8-6ca8d3a3062b",
      "name": "075 Clean for only MainDoc locs JSON"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        2224
      ],
      "id": "d68cfe69-31c3-4c60-9c4b-65241fb6c24b",
      "name": "120 Loop MainDoc loc Urls"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://playwright:3000/content",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.loc }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        2352
      ],
      "id": "8a5832e0-6099-4f46-bf9c-8fabc4108a86",
      "name": "125-1 HTTP Req to MainDoc URL locs through Playwright",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "={{ $json.loc }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text",
              "outputPropertyName": "html"
            }
          },
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        2304
      ],
      "id": "0e6dabda-54be-4293-9bcd-089ca195bba4",
      "name": "125-2 HTTP Req MainDoc URL locs without Playwright"
    },
    {
      "parameters": {
        "jsCode": "/**\n * レンダリング済みHTMLのDOMから、正規表現を用いてページを構成する全URLサブリンクを抽出・絶対URL化し、ユニークなリストを作成\n * パターンA: https://sample.com/img/a.jpg（完全なURL）\n * パターンB: /img/a.jpg（ルート相対）\n * パターンC: ../img/a.jpg（相対パス）\n *\n * 「どんな書き方であっても漏らさずURLプロトコルを拾う」ため、正規表現による「無差別抽出（戦略A）」と、DOM構造に基づく「丁寧な結合（戦略B）」の2段構えで網羅性を最大化しています。\n */\nconst out = [];\n// -----------------------------------------\n// 設定箇所.1 許可するドメインホワイトリスト(URLプロトコル「https://」)\n//------------------------------------------\nconst REQUEST_TARGET_WHITELIST_DOMAINS = [\n  // https:// は記載する。but、後尾スラッシュ無しで記載。\n  'https://sample.com',\n  // (ダブルCDN等)\n  //'https://cdn-ileamdm.nitrocdn.com',\n];\n// -----------------------------------------\n// 設定箇所.2 無視するURLスキーム（基本的に不変）\n// -----------------------------------------\nconst IGNORE_URL_SCHEMES = [\n  // javascript:void(0)  など\n  'javascript:',\n  // mailto:info@...　など\n  'mailto:',\n  // tel:031234... など\n  'tel:',\n  // data:image/png;... など\n  'data:',\n  // #section-1 など\n  '#'\n];\n\n// -----------------------------------------------------------\n// 処理ロジック\n// -----------------------------------------------------------\n// 1. item から loc (ページURL) を取り出す\nfunction getLoc(item) {\n  return item.json?.loc || item.loc || null;\n}\n\n// 2. item から HTMLのDOM を取り出す\nfunction getHtmlDom(item) {\n  // == Playwright コンテナからのレスポンス構造に対応 ==\n  // 1. Playwright コンテナのレスポンス (item.json.response.html) からHTMLを取得\n  if (typeof item.json?.response?.html === 'string') return item.json.response.html;\n  // =============================================\n  \n  if (typeof item.json?.html === 'string') return item.json.html; // 既存の115ノード互換性\n  if (typeof item.json?.data === 'string') return item.json.data;\n  return '';\n}\n\n// TargetURLかどうか判定\nfunction isTargetUrl(url) {\n  if (!url) return false;\n  // URLスキームチェック\n  if (IGNORE_URL_SCHEMES.some(sch => url.startsWith(sch))) return false;\n  // URLプロトコルホワイトリストドメインチェック\n  return REQUEST_TARGET_WHITELIST_DOMAINS.some(prefix => url.startsWith(prefix));\n}\n\n// -----------------------------------------------------------\n// Regexパターン\n// -----------------------------------------------------------\n// A. 【絶対URL正規表現】 http(s)://で始まる文字列を無差別に拾う\n// PlaywrightがレンダリングしたDOMから、data-srcなどではない最終的なURLを抽出\nconst absoluteUrlRegexPattern = /https?:\\/\\/[^\\s\"'()<>]+/g;\n\n// B. 【相対パス正規表現】 href=\"...\" または src=\"...\" の中身を拾う\nconst relativePathRegexPattern = /(?:href|src)\\\\s*=\\\\s*([\\\"'])(.*?)\\\\1/gi;\n\n// -----------------------------------------------------------\n// メインループ\n// -----------------------------------------------------------\n\nfor (const item of items) {\n  const locUrl = getLoc(item);\n  const htmlDom = getHtmlDom(item);\n  const resourcesSet = new Set(); // 重複排除用Set\n\n  if (locUrl && htmlDom.length > 0) {\n\n    // --- 戦略A: 絶対URL正規表現で抽出 ---\n    let match;\n    while ((match = absoluteUrlRegexPattern.exec(htmlDom)) !== null) {\n      const rawAbsoluteUrlAfterRegex = match[0];\n      \n      // ここでクエリパラメータ除去は行わない。フィルタリングは後段ノードで行う\n      if (isTargetUrl(rawAbsoluteUrlAfterRegex)) {\n        resourcesSet.add(rawAbsoluteUrlAfterRegex);\n      }\n    }\n\n    // --- 戦略B: 相対パス正規表現で抽出と結合 ---\n    relativePathRegexPattern.lastIndex = 0;\n\n    while ((match = relativePathRegexPattern.exec(htmlDom)) !== null) {\n      const rawRelativePathAfterRegex = match[2]; // クォートの中身\n      \n      try {\n        // locUrlを使って絶対URLに変換\n        const replacedAbsoluteUrlObj = new URL(rawRelativePathAfterRegex, locUrl);\n        const replacedAbsoluteUrl = replacedAbsoluteUrlObj.href;\n\n        if (isTargetUrl(replacedAbsoluteUrl)) {\n          resourcesSet.add(replacedAbsoluteUrl);\n        }\n      } catch (e) {\n        continue;\n      }\n    }\n  }\n\n  out.push({\n    json: {\n      mainDocUrl: locUrl,\n      resourceUrls: Array.from(resourcesSet),\n      count: resourcesSet.size\n    },\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        2544
      ],
      "id": "8b1a2faa-16b9-4cdc-af21-0309aef0ade4",
      "name": "140 Resource URLs Discovery from DOM"
    },
    {
      "parameters": {
        "jsCode": "// mainDocUrl / resourceUrls のURLからクエリパラメータの文字列 と アンカー を削りベースURLだけにする\n// 構造と順番は維持、重複排除しない\n\n// URL正規化関数（? / # 以降を削る）\nfunction stripQueryAndAnchor(raw) {\n  if (typeof raw !== 'string' || raw.length === 0) return raw;\n\n  try {\n    // 構文解析。正規URLなら origin + pathname だけ残す\n    const parsedUrl = new URL(raw);\n    return parsedUrl.origin + parsedUrl.pathname;\n  } catch {\n    // 解析できないパターンは、? と # を探してそれよりも前だけを返す\n    const queryOrAnchorIndex = raw.search(/[?#]/);\n    if (queryOrAnchorIndex === -1) return raw;\n    return raw.slice(0, queryOrAnchorIndex);\n  }\n}\n\nconst out = [];\n\nfor (const item of items) {\n  const jsonData  = item.json || {};\n\n  //mainDocUrl取得\n  const mainDocUrl = jsonData .mainDocUrl;\n  //リソースURL群取得\n  const resourceUrlList = Array.isArray(jsonData .resourceUrls) ? jsonData .resourceUrls : [];\n  //URL正規化\n  const cleanedMainDocUrl = stripQueryAndAnchor(mainDocUrl);\n  const cleanedResourceUrls = resourceUrlList.map(stripQueryAndAnchor);\n\n  out.push({\n    json: {\n      // 他にフィールドがあれば維持したい場合はスプレッド\n      // ...jsonData ,\n      mainDocUrl: cleanedMainDocUrl,\n      resourceUrls: cleanedResourceUrls,\n    },\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        2544
      ],
      "id": "0fe45a82-171c-4e5d-a034-4ffd2243b89a",
      "name": "145 Query Param and Anchor Deleter",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// URLについて、mainDocとリソースの区分を無くし、完全にユニークなURLリストを作成\n\n// Setで重複排除\nconst uniqueUrls = new Set();\n\n// 各アイテムから mainDocUrl と resourceUrls を集める\nfor (const item of items) {\n  const jsonData = item.json || {};\n\n  const mainDocUrlRaw = jsonData.mainDocUrl;\n  const resourceUrlList = Array.isArray(jsonData.resourceUrls) ? jsonData.resourceUrls : [];\n\n  // ページURLを追加\n  if (typeof mainDocUrlRaw === 'string' && mainDocUrlRaw.length > 0) {\n    uniqueUrls.add(mainDocUrlRaw);\n  }\n\n  // リソースURL群を追加\n  for (const resourceUrlRaw of resourceUrlList) {\n    if (typeof resourceUrlRaw === 'string' && resourceUrlRaw.length > 0) {\n      uniqueUrls.add(resourceUrlRaw);\n    }\n  }\n}\n\n// Set → n8n items に変換（重複排除済み）\nreturn Array.from(uniqueUrls).map((url) => ({\n  json: { targetUrl: url },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        2544
      ],
      "id": "042bdde8-0219-4679-8df2-ccb06ece9286",
      "name": "150 Merge MainDoc and Resources to Unique Urls"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        2192
      ],
      "id": "0fd3e56b-2a6c-437c-b6bc-c9575c52ab2f",
      "name": "135 Merge DOM to MainDocURL"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        1712
      ],
      "id": "753cdc2f-1ad1-4b17-95a1-028f79dde6c1",
      "name": "115 Step.1 MainDocUrls Starter Dummy"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        2544
      ],
      "id": "72cb2116-1d56-44bf-be68-c6058695a438",
      "name": "143 Step.2 Before Filtering Starter Dummy"
    },
    {
      "parameters": {
        "jsCode": "/**\n * CDN側におけるキャッシュ対象除外が設計の基本となりますが、\n * Edge Optimizer 側でも予防措置として除外フィルタリング設定を強く推奨します。\n */\nconst out = [];\n// -------------------------------------------\n// 【設定箇所 1】部分一致除外\n// -------------------------------------------\nconst EXCLUDED_PARTIAL_MATCH_PATTERNS = [\n  // ------------------------------------\n  // WordPress\n  // ------------------------------------\n  '/wp-login.php',\n  '/wp-admin/',\n  '/wp-json/',\n  '/admin-ajax.php',\n  '/xmlrpc.php',\n  '/feed/',\n  '?preview=true',\n  // ------------------------------------\n  // Shopify\n  // ------------------------------------\n  '/checkout',       // 決済画面\n  '/account/',       // マイページ関連\n  '/collections/vendors?q=', // ベンダー検索\n  // ------------------------------------\n  // Next.js / Nuxt.js / モダンフロントエンド\n  // ------------------------------------\n  '/_next/',         // Next.js 内部リソース\n  '/__nuxt/',        // Nuxt.js 内部リソース\n  '/_payload.json',  // データファイル\n  // ------------------------------------\n  // EC-CUBE\n  // ------------------------------------\n  '/admin/',         // 管理画面の基本パス（独自に変更している場合はそのパスを記載）\n  '/shopping',       // 購入手続き関連（レジ・支払い・完了画面）\n  '/mypage',         // マイページ（注文履歴・会員情報）\n  '/entry',          // 新規会員登録\n  '/forgot',         // パスワード再発行\n  '/block/',         // 動的ブロック要素（ajax等で呼び出される場合）\n  '/help/',          // ガイドページ等（不要であれば）\n  // ------------------------------------\n  // フレームワーク共通 API / Auth\n  // ------------------------------------\n  '/api/',           // 各種 API ルート\n  '/login',          // ログイン画面一般\n  '/register',       // 会員登録画面\n  '/cart',           // カートページ\n  '/contact',        // お問い合わせ（キャッシュ不要な場合）\n  // ------------------------------------\n  // 一般的な不要パターン / 検索 / その他\n  // ------------------------------------\n  '/search',         // 検索結果\n  '/page/',          // ページネーション（必要ならコメントアウト）\n  'contact',         // お問い合わせ\n  '。',               // 不正な文字除去\n  'beacon.min.js',   // 解析タグ等\n  'robots.txt',      // サイトマップ等は通常除外\n  'ads.txt',\n  '/page',\n  '/blog',\n];\n\n// ------------------------------------------\n// 【設定箇所 2】 完全一致除外\n// ------------------------------------------\nconst EXCLUDED_EXACT_MATCH_URL_PATTERNS = [\n  // NitroCDNルートURLの例\n  //'https://cdn-ileamdm.nitrocdn.com/',\n  //'https://cdn-ileamdm.nitrocdn.com',\n];\n\n// URL文字列をクリーンアップする関数 (オリジナルを完全維持)\nfunction cleanUrlString(inputUrl) {\n  if (typeof inputUrl !== 'string') return inputUrl;\n\n  // HTMLエンティティとエスケープの除去\n  let normalizedUrl = inputUrl\n    .replace(/&quot;/g, '\\\"')\n    .replace(/\\\\\\\"/g, '\\\"')\n    .replace(/\\\\'/g, \"'\");\n\n  // 先頭と末尾の両方からクォートを除去\n  normalizedUrl = normalizedUrl.replace(/^[\\\"']+|[\\\"']+$/g, '');\n\n  return normalizedUrl.trim();\n}\n\n// UUIDの正規表現 (8-4-4-4-12形式) for Nitropack\nconst UUID_PATTERN = /[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/i;\n\n// URLが除外対象か判定 (オリジナルを維持)\nfunction isExcludedUrl(targetUrl) {\n  return EXCLUDED_PARTIAL_MATCH_PATTERNS.some(pattern => targetUrl.includes(pattern));\n}\n\n// http/https以外は無効 (オリジナルを維持)\nfunction isValidHttpUrl(targetUrl) {\n  if (typeof targetUrl !== 'string') return false;\n  return /^https?:\\/\\//i.test(targetUrl);\n}\n\n// ---------------------------------------------\n// アセットファイル判定 (救済ロジック用)\n// ---------------------------------------------\nfunction isAssetFile(url) {\n  const assetExtensions = /\\.(js|css|png|jpg|jpeg|gif|svg|webp|avif|woff2?|ttf|otf|ico|bmp)$/i;\n  return assetExtensions.test(url);\n}\n\n// ------------------------------------------\n// メイン処理ループ\n// ------------------------------------------\nfor (const item of items) {\n  const rawUrl = item.json?.targetUrl;\n  if (typeof rawUrl !== 'string' || rawUrl.length === 0) continue;\n\n  const cleanedUrl = cleanUrlString(rawUrl);\n\n  // 1. 完全一致のルートURLを除外 (オリジナル通り)\n  if (EXCLUDED_EXACT_MATCH_URL_PATTERNS.includes(cleanedUrl)) continue;\n\n  // 2. UUID形式のパターンを除外 (オリジナル通り / 404対策)\n  // ここで不要リソースを除外\n  if (UUID_PATTERN.test(cleanedUrl)) continue; \n\n  // 3. アセット救済 (contactが含まれていても、js/cssならここで合格させる)\n  if (isAssetFile(cleanedUrl)) {\n    out.push({ json: { targetUrl: cleanedUrl } });\n    continue;\n  }\n\n  // 4. パターンマッチングによる除外 ( wp-json, feed等)\n  if (isExcludedUrl(cleanedUrl)) continue;\n\n  // 5. http(s)以外はスキップ\n  if (!isValidHttpUrl(cleanedUrl)) continue;\n\n  out.push({ json: { targetUrl: cleanedUrl } });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        2544
      ],
      "id": "b532e4e5-28a2-45e2-b809-764c5f5aee4e",
      "name": "155 Excluded Patterns Filter"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// メインドキュメント用UAリスト\nconst mainDocumentUserAgentList = [\n  { label: 'ios_safari_17', ua: 'Mozilla/5.0 (iPhone; CPU iPhone OS 17_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Mobile/15E148 Safari/604.1' },\n  //{ label: 'android_chrome_pixel', ua: 'Mozilla/5.0 (Linux; Android 13; Pixel 7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Mobile Safari/537.36' },\n  //{ label: 'android_chrome_galaxy', ua: 'Mozilla/5.0 (Linux; Android 13; SM-G998B) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Mobile Safari/537.36' },\n  //{ label: 'android_go', ua: 'Mozilla/5.0 (Linux; Android 12; Android Go) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.5993.60 Mobile Safari/537.36' },\n  //{ label: 'ios_safari_16', ua: 'Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.6 Mobile/15E148 Safari/604.1' },\n  //{ label: 'android_webview', ua: 'Mozilla/5.0 (Linux; Android 13; Pixel 6) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/118.0.0.0 Mobile Safari/537.36' },\n];\n//アセット用UAリスト\nconst assetUserAgentList = [\n  { label: 'ios_safari_17', ua: 'Mozilla/5.0 (iPhone; CPU iPhone OS 17_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Mobile/15E148 Safari/604.1' },\n  //{ label: 'android_chrome_pixel', ua: 'Mozilla/5.0 (Linux; Android 13; Pixel 7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Mobile Safari/537.36' },\n  //{ label: 'android_chrome_galaxy', ua: 'Mozilla/5.0 (Linux; Android 13; SM-G998B) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Mobile Safari/537.36' },\n  //{ label: 'android_go', ua: 'Mozilla/5.0 (Linux; Android 12; Android Go) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.5993.60 Mobile Safari/537.36' },\n  //{ label: 'ios_safari_16', ua: 'Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.6 Mobile/15E148 Safari/604.1' },\n  //{ label: 'android_webview', ua: 'Mozilla/5.0 (Linux; Android 13; Pixel 6) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/118.0.0.0 Mobile Safari/537.36' },\n];\n\n// 出力用配列\nconst out = [];\n\nfor (const item of items) {\n  const urlData = item.json ?? item;\n  if (!urlData.targetUrl || !urlData.tokenCalculatedByN8n) continue;\n\n  const urlCategory = urlData.urltype;\n\n  // exception は破棄\n  if (urlCategory === 'exception') {\n    continue;\n  }\n\n  let selectedUserAgents;\n  if (urlCategory === 'asset') {\n    selectedUserAgents = assetUserAgentList;\n  } else if (urlCategory === 'main_document') {\n    selectedUserAgents = mainDocumentUserAgentList;\n  } else {\n    // 指定以外の urltype は出力しない\n    continue;\n  }\n\n  for (const userAgent of selectedUserAgents) {\n    out.push({\n      json: {\n        ...urlData,\n        headersForTargetUrl: { 'User-Agent': userAgent.ua },\n        userAgentLabel: userAgent.label,\n      },\n    });\n  }\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        2560
      ],
      "id": "6e0a92bf-31f7-4fef-9262-2b18d359c735",
      "name": "175 Assign UserAgents"
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items モードで実行\nconst items = $input.all();\n\nreturn items.map(item => ({\n  json: {\n    data: item.json,  // 元の内容を data 配下に\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        2560
      ],
      "id": "3aa32f19-611a-4e85-a07e-e230969decda",
      "name": "195 Wrap Json In data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3bb041ef-26df-488b-9908-7e6b4ea46b25",
                    "leftValue": "={{ $json.data.cloud_type_area }}",
                    "rightValue": "DirectRequest",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.cloud_type_area }}",
                    "rightValue": "AwsLambda_ap-northeast-1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "52c785e4-442b-4698-85c4-58a597b93600"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5b6b6497-ea80-41e3-8a11-7cf871ea2062",
                    "leftValue": "={{ $json.data.cloud_type_area }}",
                    "rightValue": "AzureFunctions_japan-east",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e2d8e0ee-e416-4b84-9532-1ea1f78ac3c5",
                    "leftValue": "={{ $json.data.cloud_type_area }}",
                    "rightValue": "CloudflareWorkers_global",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "040783cf-d13f-477c-8c36-757efb935816",
                    "leftValue": "={{ $json.data.cloud_type_area }}",
                    "rightValue": "GcpCloudRun_asia-northeast1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -112,
        3408
      ],
      "id": "11bee9ab-5ca4-4dc9-938f-5d7f2240ee56",
      "name": "225 RequestEngine Switcher"
    }
  ],
  "pinData": {
    "010 Step.0 Starter by XML sitemap": [
      {
        "json": {
          "Website": "https://sample.com/wp-sitemap.xml"
        }
      }
    ]
  },
  "connections": {
    "160 Asset / MainDoc / Exception Classification": {
      "main": [
        [
          {
            "node": "165 exception Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "165 exception Filter": {
      "main": [
        [],
        [
          {
            "node": "170 n8n RequestSecret Token Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "185 Add Http Request Number": {
      "main": [
        [
          {
            "node": "190 Add Http Request UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "180 RequestEngine Settings": {
      "main": [
        [
          {
            "node": "185 Add Http Request Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "220 Loop Over Request Target Urls": {
      "main": [
        [
          {
            "node": "350 Json Flattener for Csv",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "225 RequestEngine Switcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "235 Get IDtoken From GCP Service Account Access Token": {
      "main": [
        [
          {
            "node": "240 IDtoken to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "240 IDtoken to json": {
      "main": [
        [
          {
            "node": "245 data and GCP IDtoken Merger",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "285 JSON data REMOVER": {
      "main": [
        [
          {
            "node": "290 DirectRequest Arranger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "295 JSON result REMOVER": {
      "main": [
        [
          {
            "node": "340 Random Sleep (ms)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "230 data Keeper for GCP": {
      "main": [
        [
          {
            "node": "245 data and GCP IDtoken Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "305 GCP Arranger": {
      "main": [
        [
          {
            "node": "340 Random Sleep (ms)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "340 Random Sleep (ms)": {
      "main": [
        [
          {
            "node": "220 Loop Over Request Target Urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "350 Json Flattener for Csv": {
      "main": [
        [
          {
            "node": "355 Eviction Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "355 Eviction Detector": {
      "main": [
        [
          {
            "node": "415 Step.3 Separate Starter Dummy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "010 Step.0 Starter by XML sitemap": {
      "main": [
        [
          {
            "node": "015 DNS Get TXT value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "040 Direct HTTP Req to get Tier2 XML sitemap URLs": {
      "main": [
        [
          {
            "node": "045 XML to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "045 XML to JSON": {
      "main": [
        [
          {
            "node": "050 JSON to urls by loc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "050 JSON to urls by loc": {
      "main": [
        [
          {
            "node": "055 Loop Tier2 XML locs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "070 XML to JSON": {
      "main": [
        [
          {
            "node": "075 Clean for only MainDoc locs JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "025 Credential Fetch Request": {
      "main": [
        [
          {
            "node": "30 Response Secret Catcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "415 Step.3 Separate Starter Dummy": {
      "main": [
        [
          {
            "node": "420 JSON to RequestResultsCSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "280DirectRequest": {
      "main": [
        [
          {
            "node": "285 JSON data REMOVER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "280CF-global RequestEngine ZeroTrust": {
      "main": [
        [
          {
            "node": "340 Random Sleep (ms)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "280GCP-asia-northeast1 RequestEngine Oauth2 Bearer": {
      "main": [
        [
          {
            "node": "305 GCP Arranger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "280AWS-apne1 RequestEngine AccessKey": {
      "main": [
        [
          {
            "node": "295 JSON result REMOVER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "280AZ-japan-east RequestEngine KeyVault": {
      "main": [
        [
          {
            "node": "300 AZ Arranger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "290 DirectRequest Arranger": {
      "main": [
        [
          {
            "node": "340 Random Sleep (ms)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "300 AZ Arranger": {
      "main": [
        [
          {
            "node": "340 Random Sleep (ms)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "245 data and GCP IDtoken Merger": {
      "main": [
        [
          {
            "node": "280GCP-asia-northeast1 RequestEngine Oauth2 Bearer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "190 Add Http Request UUID": {
      "main": [
        [
          {
            "node": "195 Wrap Json In data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "210 Step.2 Separate Starter Dummy": {
      "main": [
        [
          {
            "node": "215 Add httpRequestRoundID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "215 Add httpRequestRoundID": {
      "main": [
        [
          {
            "node": "220 Loop Over Request Target Urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "170 n8n RequestSecret Token Generator": {
      "main": [
        [
          {
            "node": "175 Assign UserAgents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "141-1 Once CF Cache Purge": {
      "main": [
        [
          {
            "node": "141-2 CF Full Purge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "141-2 CF Full Purge": {
      "main": [
        [
          {
            "node": "141-3 Full Purge Comp Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "141-3 Full Purge Comp Check": {
      "main": [
        [],
        [
          {
            "node": "141-4 Sleep for Full Purge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "141-4 Sleep for Full Purge": {
      "main": [
        [
          {
            "node": "141-5 OUTPUT Deleter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "141-5 OUTPUT Deleter": {
      "main": [
        [
          {
            "node": "142 Merge After CF Cache Purge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "020 DNS TXT Check": {
      "main": [
        [
          {
            "node": "040 Direct HTTP Req to get Tier2 XML sitemap URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "015 DNS Get TXT value": {
      "main": [
        [
          {
            "node": "020 DNS TXT Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "065 Random Sleep": {
      "main": [
        [
          {
            "node": "055 Loop Tier2 XML locs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "130 Random Sleep": {
      "main": [
        [
          {
            "node": "120 Loop MainDoc loc Urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "055 Loop Tier2 XML locs": {
      "main": [
        [
          {
            "node": "070 XML to JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "060 HTTP Req to Tier2 XML locs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "060 HTTP Req to Tier2 XML locs": {
      "main": [
        [
          {
            "node": "065 Random Sleep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "075 Clean for only MainDoc locs JSON": {
      "main": [
        [
          {
            "node": "115 Step.1 MainDocUrls Starter Dummy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "120 Loop MainDoc loc Urls": {
      "main": [
        [
          {
            "node": "135 Merge DOM to MainDocURL",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "125-1 HTTP Req to MainDoc URL locs through Playwright",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "125-1 HTTP Req to MainDoc URL locs through Playwright": {
      "main": [
        [
          {
            "node": "130 Random Sleep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "140 Resource URLs Discovery from DOM": {
      "main": [
        [
          {
            "node": "143 Step.2 Before Filtering Starter Dummy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "145 Query Param and Anchor Deleter": {
      "main": [
        [
          {
            "node": "150 Merge MainDoc and Resources to Unique Urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "150 Merge MainDoc and Resources to Unique Urls": {
      "main": [
        [
          {
            "node": "155 Excluded Patterns Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "135 Merge DOM to MainDocURL": {
      "main": [
        [
          {
            "node": "140 Resource URLs Discovery from DOM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "115 Step.1 MainDocUrls Starter Dummy": {
      "main": [
        [
          {
            "node": "135 Merge DOM to MainDocURL",
            "type": "main",
            "index": 0
          },
          {
            "node": "120 Loop MainDoc loc Urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "143 Step.2 Before Filtering Starter Dummy": {
      "main": [
        [
          {
            "node": "145 Query Param and Anchor Deleter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "155 Excluded Patterns Filter": {
      "main": [
        [
          {
            "node": "160 Asset / MainDoc / Exception Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "175 Assign UserAgents": {
      "main": [
        [
          {
            "node": "180 RequestEngine Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "195 Wrap Json In data": {
      "main": [
        [
          {
            "node": "210 Step.2 Separate Starter Dummy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "225 RequestEngine Switcher": {
      "main": [
        [
          {
            "node": "280DirectRequest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "280AWS-apne1 RequestEngine AccessKey",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "280AZ-japan-east RequestEngine KeyVault",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "280CF-global RequestEngine ZeroTrust",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "235 Get IDtoken From GCP Service Account Access Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "230 data Keeper for GCP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "110 Step.1 Starter SimpleUrlList": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6fbdf96c-7041-4530-bcfe-89d26c201ba5",
  "meta": {
    "instanceId": "f15ab73f025f519777eb926ac6288aacdc3c751b845263011523918749277b18"
  },
  "id": "2ww7YHNW1aagd1uQ",
  "tags": []
}